.displayHome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin: 2.6rem;
}

.displayHome section p {
    width: 40.0rem;
    font-size: 2.0rem;
}

.titulo1{
    
}